body{
    margin: 0;

}
/* ---------- Header ---------- */
header{
    height: 100vh;
    background-image: url(/Images/yes.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 100vh;
}

header h1{
    font-size: 50px;
    margin-top: 40vh;
}

header h1, header h2{
    color: white;
    text-align: center;
    font-family: "Lato", sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
/* Nav */
nav{
    display: flex;
    justify-content: center;
    padding: 2vh 0;
    background-color: rgb(15, 15, 97);
}
nav a{
    font-size: 24px;
    margin: 0 20px;
    text-decoration: none;
    color: rgb(179, 179, 179);
}
nav a:hover{
    text-decoration: underline;
    text-decoration-color: rgb(129, 129, 129);
}


/* ---------- Main ---------- */
main{
    height: 100vh;
}
main section{
    padding: 0 100px;
    font-family: "Lato", sans-serif;
}
main section h2{
    text-align: center;
    font-size: 35px;
}
main section p{
    font-size: 20px;
}

.skills-wrapper{
    background-color: rgb(0, 0, 238);
    color: white;
    text-align: center;
    height: 25vh;
}
.skills-wrapper h2{
    padding: 15px 0;
    margin: 0;
    font-size: 30px;
}


.skills{
    display: flex;
    justify-content: space-around;
}

.skill{
    display: flex;
    flex-direction: column;
}
.fa-html5{
    color: tomato;
}
/* ---------- Footer ---------- */
footer{
    height: 20vh;
   
}