body{
    margin: 0;

}
/* ---------- Header ---------- */
header{
    height: 100vh;
    background-image: url(/Images/yes.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 100vh;
}

header h1{
    font-size: 50px;
    margin-top: 40vh;
}

header h1, header h2{
    color: white;
    text-align: center;
    font-family: "Lato", sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
/* Nav */
nav{
    display: flex;
    justify-content: center;
    padding: 3vh 0;
    background-color: rgb(93, 93, 255);
}
nav a{
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
    color: rgb(0, 0, 139);
}
nav a:hover{
    text-decoration: underline;
    color: rgb(0, 0, 139);
}


/* ---------- Main ---------- */
main{
    height: 60vh;
    
}
/* ---------- Footer ---------- */
footer{
    height: 20vh;
   
}