<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/0d63d70e2e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheet/style.css">
    <title>Document</title>
</head>
<body>

    <header>
        <nav>
            <a href="mailto: daniel221010@gmail.com">E-Mail</a>
            <a href="/PDF/CV.pdf">Resume</a>
        </nav>

        <h1>Dann Daniel Consencino</h1>
        <h2>Full Stack Developer</h2>

    </header>

    <main>
        <section>
            <h2>Little about me</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam enim repellat eos alias rem reiciendis facilis totam sunt ratione itaque maxime ut fugit sequi, magnam vitae eaque, esse quisquam explicabo?</p>
        </section>

        <div class="skills-wrapper">
            <h2>Skills</h2>

            <div class="skills">
                <div class="skill">
                    <i class="fab fa-html5"></i>
                    HTML5
                </div>
                <div class="skill">
                    <i class="fab fa-css3-alt"></i>
                    CSS3
                </div>
                <div class="skill">
                    <i class="fab fa-node-js"></i>
                    Node.js
                </div>
                <div class="skill">
                    <i class="fab fa-js"></i>
                    JavaScript
                </div>

            </div>

        </div>


    </main>

    <footer>
        footer
    </footer>

</body>
</html>